# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Database
instance/*.db
*.db

# Environment & secrets
.env
*.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
zap/
__pycache__/
*.pyc
instance/tokenshield.db
